
/* ---------------------------------------
----------------------------GRID CONTAINER
--------------------------------------- */
.container_grid {
  display: grid;
  grid-template-columns: .5fr .5fr;
  width: 100vw;
  height: 100vh;
  grid-gap: 5px;
  /* background-color: black; */
}
.container_grid:nth-child(2) {
  transition: grid-template-columns 1000ms ease-in;
}
.container_grid:nth-child(2):hover {
  grid-template-columns: 1fr ;
}