
/* ---------------------------------------
----------------------------GRID CONTAINER
--------------------------------------- */
.container_grid {
  display: grid;
  grid-template-columns: .5fr .5fr;
  width: 100vw;
  height: 100vh;
}

header:hover {
  letter-spacing: 2px;
}
