.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav_v1 {
  position: relative;
  text-align: left;
}
.headers {
  font-family: Ailerons, sans-serif;
}
.q1{
 border: 2px solid black;
}

.q2{

}
.q3 {

}
.q4 {

}
.section {
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
}