/* ---------------------------------------
-------------------------------------Tools
--------------------------------------- */

.section_tools {
  background: #000000;
 }
 .section_tools header a {
   font-family: Ailerons;
   font-size: 3vh;
   color: #D8D8D8;
   letter-spacing: 0.4px;
   text-align: center;
   text-shadow: 0 2px 4px #FF0000;
   transition: text-shadow 400ms ease-in-out;
   text-decoration: none;
   text-decoration-line: none;
   -moz-text-decoration-style: none;
   -moz-text-decoration-color: none;
 }
 .section_tools header:hover {
  text-shadow: 0 5px 7px #FFFFFF;
 }
 .section_tools p {
   font-family: Avenir;
   font-size: 24px;
   color: #FFFFFF;
   letter-spacing: 0.09px;
   text-align: center;
 }
 