div {
  font-family: Helvetica;
}

.article {
  font: 12px;
}


/* ---------------------------------------
--------------------------------------Blog
--------------------------------------- */
.section_blog {
  background: #D8D8D8;
}

.section_blog header{
  font-family: Ailerons;
  font-size: 48px;
  color: #000000;
  letter-spacing: 0.4px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.section_blog header:hover {
  grid-column: span 2;
}
.section_blog p {
  font-family: Avenir;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0.09px;
  text-align: center;
}